wheel==0.40.0
setuptools==67.6.1
twine==4.0.2
build==0.10.0
html-testRunner~=1.2.1

pkgversions==0.2.2
mypy==1.2.0
mypy-extensions==1.0.0
types-Deprecated==1.2.9.2
types-setuptools==67.6.0.7
typing_extensions==4.5.0

# For IOPython
antlr4-python3-runtime==4.11.1

# For the Scaffold Test App
click~=8.1.3

wxPython==4.2.0
hasiihelper~=0.2.0
hasiicommon~=0.2.2
pyutmodel==1.4.3
ogl==0.70.26
untanglepyut==0.6.50
oglio==0.7.0

buildlackey~=0.7.0

# Pin networkx to match orthgonal
networkx==3.0
orthogonal==1.1.8
pyumldiagrams==2.30.8
