wheel~=0.37.1
setuptools==63.1.0
twine==4.0.1
build==0.8.0
python-interface~=1.6.1
html-testRunner~=1.2.1

pkgversions==0.2.2
mypy==0.961
mypy-extensions~= 0.4.3
types-Deprecated==1.2.9
types-setuptools==62.6.1
typing_extensions==4.3.0

wxPython~=4.1.1
ogl==0.53.1
untanglepyut==0.1.2